name: node-release

on: 
  push:
    tags:
      - '*'

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
        registry-url: https://registry.npmjs.org/
    
    - name: npm test
      run: |
        npm install
        npm test
      env:
        CI: true
    
    - name: npm auth & publish
      run: npm run build && npm publish --access public --tag latest
      env:
        NODE_AUTH_TOKEN: ${{secrets.Z_NPM_TOKEN}}