name: node-test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  # daily check at 01:00 AM
  schedule:
    - cron: '0 1 * * *'

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [12.x, 14.x]
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Cache node modules
      uses: actions/cache@v1
      env:
        cache-name: cache-node-modules
      with:
        path: ~/.npm
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-${{ hashFiles('**/package-lock.json') }}
        
    - name: npm install, build, and test
      run: |
        npm install
        npm run build --if-present
        npm run coverage
      env:
        CI: true

    - name: upload coverage
      uses: codecov/codecov-action@v1
